/**********************
HEADER
***********************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.8rem;
  padding: 0 3.2rem 0 9rem;
}
.logo {
  height: 6rem;
}
/**********************
NAVIGATION
***********************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #626865;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #0d6943;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #0e754a;
  color: #fff;
  padding: 1.6rem 2.4rem;
  border-radius: 5px;
  text-align: center;
  line-height: 1.15;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0d6943;
}
.main-nav-link.nav-cta.when-tablet-size:link,
.main-nav-link.nav-cta.when-tablet-size:visited {
  display: none;
}
/**********************
MOBILE
***********************/
.logo-btns-right {
  display: none;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-moblie-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #313533;
}
.icon-moblie-nav[name="close-outline"] {
  display: none;
}
.when-tablet-size,
.right-logo {
  display: none;
}
.overlay {
  display: hidden;
}
/**********************
HERO SECTION
***********************/
.section-hero {
  padding-top: 0.8rem;
  /* padding-right: 7rem; */
}
.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
}
.hero-img {
  width: 100%;
  display: block;
}

.hero-description {
  margin-bottom: 4.8rem;
}
/**********************
MANAGEMENT SYSTEM TO YOUR NEEDS 
***********************/
.management-system-section {
  background-color: #cfe3db;
  text-align: center;
  padding: 9.6rem 0 12.8rem;
}
.management-system-div {
  margin: 3.1rem 8rem;
}
.management-system-div h2 {
  margin: 3.2rem 24.1rem;
}
.management-system-div p {
  margin: 0 30rem;
}
/**********************
WHY DIGITERRAIN
***********************/
.features-section {
  position: relative;
  margin-bottom: 12.6rem;
}
.features {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: space-between;
}
.features-text-box {
  margin-left: 9rem;
}

.features-img {
  width: 46%;
  position: absolute;
  top: -10rem;
}
.features-items {
  padding: 3.3rem 2.4rem 4rem 0;
  font-size: 1.5rem;
  border: 1px solid #e7f1ed;
  border-radius: 3px;
  box-shadow: #313533 0px 1px 1px 0px;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.features-item {
  display: grid;
  gap: 2.8rem;
  grid-template-columns: 10% 75%;
  justify-content: center;
}
.feature-icon {
  color: #0e754a;
  height: 2.2rem;
  width: 2.2rem;
  background-color: #e7f1ed;
  padding: 1.6rem;
  border-radius: 50%;
}

.features-heading {
  font-size: 2.1rem;
  font-weight: 700;
  color: #313533;
  margin: 0.8rem 0;
}
/**********************
HOW IT WORKS
***********************/
.how-it-works-section {
  background-color: #e7f1ed;
  text-align: center;
  padding: 6rem 0 4.7rem;
}
.heading-secondary.main-step-heading {
  font-weight: 600;
  line-height: 5.8rem;
  margin: 3.1rem 0 6.5rem;
  text-align: center;
}
.how-it-works-div {
  position: relative;
}
.how-it-works-div::before {
  position: absolute;
  top: calc(7% - 1px);
  right: 24rem;
  left: 24rem;
  content: "";
  background-color: #313533;
  height: 2px;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-number {
  z-index: 1;
  font-size: 1.8rem;
  color: #313533;
  font-weight: 600;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 2.4rem;
  padding: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.9rem;
  width: 4.9rem;
}
.shadow {
  box-shadow: 0 0 0 2.5rem #e7f1ed;
}
.step-icon {
  color: #0e754a;
  height: 4.4rem;
  width: 4.4rem;
  margin-bottom: 2.4rem;
}
.step-heading {
  color: #313533;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
  text-align: center;
}
.btn.step-btn:link,
.btn.step-btn:visited {
  margin-top: 2rem;
  background-color: #0e754a;
  border-radius: 5px;
  box-shadow: #313533 0px 1px 1px 0px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.8rem 0.9rem;
}
/**********************
EASY TO USE SECTION
***********************/
.easy-to-use-section {
  padding: 3.2rem;
}
.easy-to-use-div {
  display: grid;
  gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
.easy-to-use-img {
  width: 100%;
}

/**********************
PRICING SECTION
***********************/
.pricing-section {
  padding: 5.8rem 0;
  margin-bottom: 3.2rem;
  background-image: linear-gradient(
      rgba(25, 46, 25, 0.815),
      rgba(29, 53, 29, 0.808)
    ),
    url(../img/chick.jpg);
  background-size: cover;
  color: white;
}
.pricing-div {
  display: grid;
  grid-template-columns: 40% 60%;
}
.pricing-explanation-text-box {
  padding-right: 5.5rem;
}

.pricing-motivation {
  font-size: 1.6rem;
  padding-bottom: 1.6rem;
}
.pricing-plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}
.pricing-plan {
  padding: 1.6rem 3.2rem;
  background-color: #0d694377;
  border-radius: 10px;
}
.plan-name {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.plan-header,
.plan-description-start {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
  text-align: center;
  padding-bottom: 2.5rem;
}
.plan-price {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4.5rem;
}
.div-plan-description {
  border-top: 1px solid #fff;
  border-bottom: 1px solid#fff;
}
.list-header {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8;
  padding-bottom: 2.5rem;
}
/**********************
FEATURED SECTION
***********************/
.section-featured {
  padding: 6.4rem 0 3.2rem;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 11rem;
  filter: brightness(0);
  opacity: 50%;
}

/**********************
BUY DIGITERRIAN SECTION
***********************/
.buy-digiterrian-section {
  padding: 6.4rem 0;
  background-image: linear-gradient(
      to right,
      rgba(242, 250, 242, 0.98),
      rgba(242, 250, 242, 0.2)
    ),
    url(../img/photo.jpg);
  background-size: cover;
}
.buy-div {
  grid-template-columns: repeat(2, 1fr);
}
.buy-digiterrain-p {
  color: #444947;
}
/**********************
FOOTER
***********************/
.footer {
  padding: 12.8rem 0;
}
.grid--footer {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  color: #444947;
  margin-top: auto;
}

.footer-heading {
  color: #313533;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.contacts {
  font-style: normal;
}
.address-p {
  margin-bottom: 2.4rem;
  color: #444947;
  font-size: 1.6rem;
  line-height: 1.6;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #444947;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #0d6943;
}
